.footer{
  height: 80px;
  border-top: 1px solid #eee;
  position: fixed;
  background-color: #fff;
  bottom:0;
  width: 100%;
  left: 0;
  line-height: 80px;
  .content{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    a{
      display: block;
      width: 120px;
      text-align: center;
      font-size: 24px;
      color: inherit;
    }
  }
}
