.content-list{
  padding: 0 24px;
  .ant-row{
    display: flex;
  }
  a.add-content{
    line-height: 32px;
    margin-right: 12px;
  }
  .ant-list{
    margin-top: 12px;
    .ant-list-item-meta-content{
      text-align: left;
    }
    .ant-list-item-content{
      flex: 0;
    }
    .ant-btn-danger{
      margin-left: 12px;
    }
  }
}